.env
.DS_Store
.idea

# Mirakurun
mirakurun/conf/*
mirakurun/data/*

# EPGStation
epgstation/config/*
epgstation/data/*
epgstation/extra/*
epgstation/logs/*
epgstation/thumbnail/*

home-assistant/config/*
home-assistant/extra/*

!.gitkeep
