services:
  mirakurun:
    image: chinachu/mirakurun:3.8.0
    cap_add:
      - SYS_ADMIN
      - SYS_NICE
    environment:
      TZ: Asia/Tokyo
      DOCKER_NETWORK: host
      # LOG_LEVEL: "3"
      # DEBUG: "true"
    network_mode: host
    ports:
      - 40772:40772
      - 9229:9229
    devices:
      - /dev/bus:/dev/bus
      - /dev/dvb:/dev/dvb
    volumes:
      - ./mirakurun/extra:/extra:cached
      - /mnt/dtv/mirakurun/conf:/app-config
      - /mnt/dtv/mirakurun/data:/app-data
    restart: always
    logging:
      driver: json-file
      options:
        max-file: "1"
        max-size: 10m

  nginx:
    image: nginx:1.29.4
    network_mode: host
    ports:
      - 8080:8080
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:cached
    restart: always
    logging:
      driver: json-file
      options:
        max-file: "1"
        max-size: 10m

  mysql:
    image: mysql:8.4.3
    network_mode: host
    ports:
      - 3306:3306
    volumes:
      - mysql-db:/var/lib/mysql
      - ./mysql/conf.d:/etc/mysql/conf.d:cached
    environment:
      MYSQL_USER: epgstation_user
      MYSQL_PASSWORD: epgstation_passwd
      MYSQL_ROOT_PASSWORD: epgstation_root_passwd
      MYSQL_DATABASE: epgstation
      TZ: "Asia/Tokyo"
    restart: always
    logging:
      options:
        max-file: "3"
        max-size: 10m

  epgstation:
    image: ghcr.io/hiroxto/epgstation:latest@sha256:d1cd983a4e879a2e15d4c169fca446ff7b9f8190f935bf64179453929aedf194
    network_mode: host
    ports:
      - 8888:8888
      - 8889:8889
    volumes:
      - ./epgstation/config:/app/config
      - ./epgstation/extra:/extra:cached
      - /mnt/dtv/epgstation/backup:/backup
      - /mnt/dtv/epgstation/data:/app/data
      - /mnt/dtv/epgstation/drop:/app/drop
      - /mnt/dtv/epgstation/thumbnail:/app/thumbnail
      - /mnt/dtv/epgstation/logs:/app/logs
      - /mnt/dtv/epgstation/recorded:/app/recorded
    environment:
      TZ: "Asia/Tokyo"
    depends_on:
      - mysql
    restart: always
    logging:
      driver: json-file
      options:
        max-file: "3"
        max-size: 10m

volumes:
  mysql-db:
    driver: local
